.flex-it-up{
    display:flex;
}

.flex-navbar-box{
    display:flex;
    padding:1em;
}

.flex-direction{
    display:flex;
    flex-direction:row;
}

.flex-diamond-box{
    display:block;
    padding:0.5em;
    height:0.5em;
    border:solid 1px black;
    align-self: center;
    margin-left:1em;
}

.flex-userInfo-box{
    display:block;
    padding:2em;
    max-width: 2em;
    max-height: 2em;
    border:solid 1px black;
    margin-left:1em;
}



.flex-margin-left{
    margin-left:53em;
}

.flex-profile-image{
    display:flex;
    padding:1.5em;
    border:solid 1px black;
    margin-left:9em;
    margin-top:10em;
    align-self:top;
    height:6em;
    width:6em;
    color:black;
    background-color:white;
}

.flex-tabell-box{
    display:flex;
    padding:4em;
}

.flex-tabs-positioning{
    display:flex;
    margin-top:8em;
    align-content:flex-start;
    margin-left:4em;
    border:solid 1px black;
    padding-bottom:10em;
}

.flex-column{
    display:flex;
    flex-direction:column;
}

.button{
    display:block;
    padding:2em;
    margin-right:7em;
}


.flex-user-button{
    display:flex;
    padding:3em;
    max-width: 2em;
    max-height: 2em;
    border:solid 1px black;
    margin-left:1em;
}