.flex-it-up{
    display:flex;
}

.flex-navbar-box{
    display:flex;
    padding:1em;
}

.flex-direction{
    display:flex;
    flex-direction:row;
}

.flex-diamond-box{
    display:block;
    padding:0.5em;
    height:0.5em;
    border:solid 1px black;
    align-self: center;
    margin-left:1em;
}

.flex-userInfo-box{
    display:block;
    padding:2em;
    border:solid 1px black;
    margin-left:1em;
}

.flex-margin-left{
    margin-left:53em;
}

.flex-profile-image{
    display:flex;
    padding:4em;
    border:solid 1px black;
    margin-left:6em;
    margin-top:3em;
    align-self:top;
    height:6em;
    width:6em;
}